h3:first-child {
  color: pink;
}

#greycol {
  color: grey;
}

p:only-child {
  color: red;
}

p:nth-child(7) {
  color: green;
}
.yellow {
  color: yellow;
}


li:nth-child(1) {
  color:rgb(249, 255, 84);
}
li:nth-child(2) {
  color:rgb(165, 255, 92);
}
li:nth-child(3) {
  color:rgb(97, 255, 239);
}
li:nth-child(4) {
  color:rgb(126, 114, 255);
}
li:nth-child(1):hover{
  color:rgb(255, 0, 0);
}
li:nth-child(2):hover{
  color:rgb(255, 0, 0);
}
li:nth-child(3):hover{
  color:rgb(255, 0, 0);
}
li:nth-child(4):hover{
  color:rgb(255, 0, 0);
}